*{
	padding:0px;
	margin: 0px;
	text-decoration-style: none;
	text-decoration:none;
}

body{
	background: black;
	color: white;	
}
a {
    color: #fff; /* Цвет ссылок */
   }
a:visited {
    color: #fff; /* Цвет посещенных ссылок */
   }
a:active {
    color: #fff; /* Цвет активных ссылок */
   }
.container{
	width: 80%;
	margin: auto;
}
.header_index{

}
.h1_index{
	
	text-align: center;

}
.p_index{
	margin: 30px auto;
	text-align: center;
}

.div_coneainer{
	display: inline-block;
	width: 100%;
	

	display: inline-block;	
}
.next_index{
	width: 20%;
	height: 100px;
	background: black;
	float: left;
	text-align: center;
	border: solid 15px white;
	border-radius: 30px;
	margin: 200px 0px;
	font-size: 2em;
	transition: 0.5s;
}
.next_index:hover{
	background: #00BFFF;
}
.next_index p {
	padding: 30px 0px;
}
.img_index{
	margin: 50px auto;
	width: 45%;
	height: 400px;
	border: solid 50px white;
}
.proceed_index{
	width: 20%;
	height: 100px;
	background: black;
	float: right ;
	text-align: center;
	border: solid 15px white;
	border-radius: 30px;
	font-size: 2em;
	margin: -390px 0px;
	transition: 0.5s;
}
.proceed_index:hover{
	background: #FF4500;
}
.proceed_index p{
	padding: 30px 0px;
}