*{
	padding:0px;
	margin: 0px;
	text-decoration-style: none;
	text-decoration:none;

}

body{
	
	color: #C0C0C0;	
}
a {
    color: black; /* Цвет ссылок */
   }
a:visited {
    color: black; /* Цвет посещенных ссылок */
   }
a:active {
    color: black; /* Цвет активных ссылок */
   }
.container{
	width: 100%;
	height:100vh;
	margin:auto;

	background: rgb(36,35,68);
    background: linear-gradient(130deg, rgba(36,35,68,1) 0%, rgba(255,255,255,1) 0%, rgba(153,153,153,1) 51%);
	
}
.header_index{

	color: #4F6463	;	
}
.h1_text{
	width: 100%;
	display: block;
	font-family: 'Oswald', sans-serif;

	font-size: 1.5em;	
	text-shadow: black 5px 3px 0, black 5px 5px 0, 
                 black 7px 5px 0, black 7px 7px 0, 
                 black 9px 7px 0;
}
.h1_text p{
	padding: 80px 0px 0px 300px;
}
.h2_text{
	width: 100%;
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 3em;	
	text-shadow: black 7px 9px 0, black 5px 5px 0, 
                 black 7px 9px 0, black 7px 7px 0, 
                 black 9px 9px 0;

}
.p_index_1{
	padding-left: 170px;
}
.p_index_2{
	padding-left: 250px;
}
.a{
	display: flex;
	width: 250px;
	height: 100px;
	background: #111129;
	float:right;
	margin: 150px 150px 0px 0px;
    border: 10px solid transparent;
    border-image: linear-gradient(white , black);
    -moz-border-image: -moz-linear-gradient(white , black);
    -webkit-border-image: -webkit-linear-gradient(white , black);
    border-image-slice: 1;
	justify-content: center;
	
}
#proceed_index	{
	
}
.a p{
	padding-top: 40px;
	color: white;

	

}
