*{
	padding:0px;
	margin: 0px;
	text-decoration-style: none;
	text-decoration:none;
}

body{
	
	color: white;	
}
a {
    color: #fff; /* Цвет ссылок */
   }
a:visited {
    color: #fff; /* Цвет посещенных ссылок */
   }
a:active {
    color: #fff; /* Цвет активных ссылок */
   }
.container{
	width: 80%;
	height: 600px;
	margin: auto;
	background: #A4C2C1;
	border-radius: 30px ;
	border: solid 20px #1F5654;
	margin-top: 30px; 
}
.header_index{

	color: #4F6463		;	
}
.h1_index{
	
	text-align: center;

}
.h1_index p{
	margin-top: 50px;
	font-size: 2em;
}
.p_index{
	margin: 30px auto;
	text-align: center;
}
.p_index p{
	font-size: 1.5em;
}
.div_coneainer{
	display: inline-block;
	width: 100%;
	

	display: inline-block;	
}
.next_index{
	width: 20%;
	height: 100px;
	background: black;
	float: left;
	text-align: center;
	border: solid 15px white;
	border-radius: 30px;
	margin: 200px 0px;
	font-size: 2em;
	transition: 0.5s;
}
.next_index:hover{
	background: #00BFFF;
}
.next_index p {
	padding: 30px 0px;
}
.img_index{
	margin: 50px auto;
	width: 45%;
	height: 400px;
	border: solid 50px white;
}
.proceed_index{
	width: 20%;
	height: 100px;
	background: #4F6463		;
	margin: 70px auto ;
	text-align: center;
	border: solid 10px #1F5654;
	border-radius: 30px;
	font-size: 2em;

	transition: 0.5s;

}
.proceed_index:hover{
	background: #608583;
}
.proceed_index p{
	padding: 30px 0px;
}